In [1]:
import pandas as pd

In [2]:
import plotly.express as px
import json

In [3]:
with open('./NC_Counties.geojson') as f:
    nc_counties = json.load(f)

In [19]:
df = pd.read_csv('../covid-19-data/us-counties.csv', dtype={'fips': str})

In [40]:
nc = df[df['state'] == 'North Carolina']

In [19]:
nc.head()
nc['county'] = nc['county'].apply(lambda x: x.upper())

/Users/alexander.fioto/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [47]:
snapshot = nc[nc['date'] == '2020-10-18']
snapshot.head()

              date     county           state   fips  cases  deaths
643336  2020-10-18   Alamance  North Carolina  37001   4790      66
643337  2020-10-18  Alexander  North Carolina  37003    698       9
643338  2020-10-18  Alleghany  North Carolina  37005    265       1
643339  2020-10-18      Anson  North Carolina  37007    694       8
643340  2020-10-18       Ashe  North Carolina  37009    366       1

In [48]:
snapshot['county'] = snapshot['county'].apply(lambda x: x.upper())

/Users/alexander.fioto/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
snapshot.head()

              date     county           state     fips  cases  deaths
643336  2020-10-18   ALAMANCE  North Carolina  37001.0   4790      66
643337  2020-10-18  ALEXANDER  North Carolina  37003.0    698       9
643338  2020-10-18  ALLEGHANY  North Carolina  37005.0    265       1
643339  2020-10-18      ANSON  North Carolina  37007.0    694       8
643340  2020-10-18       ASHE  North Carolina  37009.0    366       1

In [ ]:
fig = px.choropleth(nc, 
                    geojson=nc_counties, 
                    locations='county',
                    featureidkey='properties.CO_NAME',
                    color='cases',
                    projection='mercator',
                    animation_frame='date'
                   )
fig.update_geos(fitbounds='locations', visible=False )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.show()

In [23]:
def plot_nc_covid_map(date):
    fig = px.choropleth(nc[nc['date'] == date], 
                    geojson=nc_counties, 
                    locations='county',
                    featureidkey='properties.CO_NAME',
                    color='cases',
                    projection='mercator',
                   )
    fig.update_geos(fitbounds='locations', visible=False )
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

    fig.show()
    return fig

In [29]:
nc_map.write_html('nc_covid_map.html')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745255 entries, 0 to 745254
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    745255 non-null  object
 1   county  745255 non-null  object
 2   state   745255 non-null  object
 3   fips    738157 non-null  float64
 4   cases   745255 non-null  int64
 5   deaths  745255 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 34.1+ MB

In [7]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [14]:
import plotly.express as px
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [15]:
ex_df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
                   dtype={"fips": str})

In [27]:
len(ex_df)

3219

In [29]:
len(df[df['date'] == '2020-11-18'])

3247

In [22]:
df.tail()

              date      county    state   fips  cases  deaths
745250  2020-11-18  Sweetwater  Wyoming  56037   1224       4
745251  2020-11-18       Teton  Wyoming  56039   1271       2
745252  2020-11-18       Uinta  Wyoming  56041    835       4
745253  2020-11-18    Washakie  Wyoming  56043    262       7
745254  2020-11-18      Weston  Wyoming  56045    353       0

In [53]:
snapshot.head()

              date     county           state   fips  cases  deaths
643336  2020-10-18   ALAMANCE  North Carolina  37001   4790      66
643337  2020-10-18  ALEXANDER  North Carolina  37003    698       9
643338  2020-10-18  ALLEGHANY  North Carolina  37005    265       1
643339  2020-10-18      ANSON  North Carolina  37007    694       8
643340  2020-10-18       ASHE  North Carolina  37009    366       1

In [54]:
nc_counties['features'][0]

{'type': 'Feature',
 'properties': {'Name': None,
  'description': None,
  'FID': 1,
  'OBJECTID': 1.0,
  'PERIMETER': 156472.984375,
  'CO_NAME': 'ROCKINGHAM',
  'CO_ABBR': 'ROCK',
  'ACRES': 366053.0625,
  'Shape_Leng': 513361.787377,
  'RO': 'WSRO',
  'SHAPE_Length': 1.60550890854708,
  'SHAPE_Area': 15945261643.2},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-79.532470222, 36.241411973],
     [-79.540582838, 36.241591613],
     [-79.565884038, 36.242336063],
     [-79.599803762, 36.243298128],
     [-79.632993196, 36.24438694],
     [-79.6724854409999, 36.2456354010001],
     [-79.710311287, 36.2466177790001],
     [-79.7464123399999, 36.247609998],
     [-79.78859295, 36.249052201],
     [-79.8107318799999, 36.2498137360001],
     [-79.8381006069999, 36.2505711110001],
     [-79.874799893, 36.2522584290001],
     [-79.9076262519999, 36.2535478450001],
     [-79.946193993, 36.2546631820001],
     [-79.9785708319999, 36.2555675830001],
     [-79.9997684429999, 36.2561202890001],
     [-80.0115625729999, 36.2564972230001],
     [-80.035153615, 36.2571685120001],
     [-80.031330655, 36.390426011],
     [-80.029040331, 36.5001571930001],
     [-80.027276429, 36.5425189810001],
     [-79.9997700709999, 36.542460078],
     [-79.907929662, 36.542737946],
     [-79.808676282, 36.542327734],
     [-79.7603528929999, 36.5421518690001],
     [-79.71506421, 36.5418709680001],
     [-79.6752291019999, 36.541623013],
     [-79.672107578, 36.541569995],
     [-79.66943858, 36.5415496310001],
     [-79.6673132509999, 36.541778261],
     [-79.666830308, 36.5417814570001],
     [-79.625376612, 36.541743765],
     [-79.625263177, 36.541607218],
     [-79.624755265, 36.5414484560001],
     [-79.624728729, 36.5415381280001],
     [-79.6244448479999, 36.5413816060001],
     [-79.6023683829999, 36.54136075],
     [-79.564795551, 36.5408401110001],
     [-79.510743679, 36.5408454880001],
     [-79.516317943, 36.5001531],
     [-79.517265051, 36.4903992210001],
     [-79.5179089759999, 36.484812649],
     [-79.518675795, 36.477646662],
     [-79.519175117, 36.473342168],
     [-79.520088061, 36.4642297250001],
     [-79.5204499989999, 36.4591922230001],
     [-79.5209067219999, 36.451475234],
     [-79.521609844, 36.4383539410001],
     [-79.5223093709999, 36.426217604],
     [-79.522927055, 36.4125690590001],
     [-79.524052854, 36.3930130860001],
     [-79.5253920279999, 36.3692203740001],
     [-79.526576001, 36.348312541],
     [-79.5281560829999, 36.3200994580001],
     [-79.5294330309999, 36.296626302],
     [-79.530769918, 36.272442906],
     [-79.532012278, 36.250068486],
     [-79.532470222, 36.241411973]]]]}}

In [61]:
nc['county'] = nc['county'].apply(lambda x: x.upper())

/Users/alexander.fioto/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
nc.head()

           date   county           state   fips  cases  deaths
483  2020-03-03     WAKE  North Carolina  37183      1       0
520  2020-03-04     WAKE  North Carolina  37183      1       0
567  2020-03-05     WAKE  North Carolina  37183      1       0
630  2020-03-06  CHATHAM  North Carolina  37037      1       0
631  2020-03-06     WAKE  North Carolina  37183      1       0

In [65]:
fig = px.choropleth(nc,
              geojson=counties,
              locations="fips",               
              color="cases",
              hover_name="county",  
              animation_frame="date",    
              color_continuous_scale='Plasma',
              scope='usa',
              height=600             
)

In [ ]:
#fig.write_html('nc_covid_map.html')

In [ ]:
fig.update_geos(fitbounds='locations', visible=False )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()